.app_logo {
    border-radius: 5px;
}

.textError {
    color: var(--mantine-color-error);
    font-size: calc(var(--mantine-font-size-sm) - .125rem * var(--mantine-scale))
}
.signUpSection{
    display: flex;
    justify-content: center;
    align-items: center;
}